{% extends 'base.html' %}
{% block content %}
<div class="query-questions">
	<h2 class="main-title active">Most Points</h2>
	<h2 class="main-title">Recent</h2>
	<h2 class="main-title">Your Subject</h2>
</div>
	<div class="questions-container">
		{% for item in questions %}
		<div class="card-container">
			<h4 class="question">{{ item.question }}</h4>
			<div class="card-meta">
				<p class="points">POINTS: $44</p>
				<div class="cta-row">
					<i class="fa fa-thumbs-up fa-fw fa-4x"></i>
					<button class="answer-button">ANSWER</button>
				</div>
				<div class="tags-row">
						<p><i class="fa fa-star fa-fw"></i>MATHEMATICS</p>
						<p><i class="fa fa-star fa-fw"></i>ALGEBRA</p>
						<p><i class="fa fa-star fa-fw"></i>GRADE 10</p>
				</div>
			</div>
		</div>
		{% endfor %}
	</div>
{% endblock %}
