{% extends 'base.html' %}
{% block content %}
<div class="query-questions">
	<h2 class="question-title">Top Questions</h2>
	<h2 class="question-title">Recent Questions</h2>
	<h2 class="question-title">Your Subject Questions</h2>
</div>
	{% for item in questions %}
	<p class="question-container">
		<a class="question-link"href="{{ url_for('get_question', id=item.id) }}">{{item.question}}</a>
		<span><button class="cta">ANSWER</button></span>
		<span><p class="points">POINTS: 10<i class="fa fa-star fa-fw"></i></p>
				<i class="fa fa-thumbs-up fa-fw increase">ADD POINTS</i>
		</span>
		<ul class="tags-ul">
				<li class="tags-li"><i class="fa fa-angellist fa-fw"></i>Math</li>
				<li class="tags-li"><i class="fa fa-superpowers fa-fw"></i>Algebra</li>
				<li class="tags-li"><i class="fa fa-anchor fa-fw"></i>Grade 10</li>
		</ul>
	</p>
	{% endfor %}
{% endblock %}
